.wrapper{
    background-color: black;
    color: white;
    font-size: 2rem;
    letter-spacing: 3px;
    padding: 1rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 3;
}